html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ultra', serif;
  color: #240b36;
}


.mLogo{
  height: 80px;
  width: 80px;
}


.back-ground {
  /*padding-bottom: 50px;*/
  height: 100%;
  background-image: url(bg7.jpg);
  background-position: center;
  background-size: 100%;
}

/*NavBar Section*/
.nav-bar{
  padding-bottom: 50px;
}

.navbar{
  width: 100%;
  position: fixed;
  /*padding: 10px;*/
  background-color: transparent;
  background: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  z-index: 3;
}

.navbar-nav li{
  padding: 0 10px 0 0;
}

.navbar-nav li a, .navN{
  color:  #abf4e6 !important;
  font-weight: 600;
  font-size: 25px;
  float: right;
  text-align: left;
  transition: 0.8s;
}

.navbar-nav li a:hover{
  /*background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.13);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  -moz-backdrop-filter: blur(7px);*/
  transform: scale(1.1);
}

.navIcon{
  padding-right: 10px;
}

/*End of NavBar Section*/

/*Jumbutron Section*/

.jumb1{
  margin-top: 100px;
  padding: 20px;
  color: #240b36;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  -webkit-box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  -moz-box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  -moz-backdrop-filter: blur(7px);
  z-index: 3;
  transition: 0.5s;
}

.jmbBtn,.btn-contact{
  width: 50%;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  transition: all 0.5s ease;
  background: #003f74;
   box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  -webkit-box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  -moz-box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  transition: 0.8s;
}

.jmbBtn:hover,.btn-contact:hover{
  background: #02739d;
  color: #fff;
  transform: scale(1.1);
}


.nMarco{
  padding-top: 80px;
  font-weight: 600;
}

.lead{
  font-weight: 600;
}

.imgDiv{
  padding: 50px;
}

.imgSize{
  border-radius: 60px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  transition: 0.8s;
  box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  -webkit-box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  -moz-box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
}

.imgSize:hover {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: 0.8s;
}

.jmbSize{
  height: 30%;
}

.marco-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transition: 0.8s;
  box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
  -webkit-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
  -moz-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
}

.marco-img:hover {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  transition: 0.8s;
  box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
  -webkit-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
  -moz-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
}

/*End of Jumbutron Section*/

/*About Section*/
.aBack-ground{
  padding: 20px 0;
  /*background-repeat: no-repeat;
  background-attachment: fixed;*/
}

.aboutH{
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 50px;  
  color: #09264e;
}

/*.Cert{
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 50px;  
  color: #09264e;
}*/

.cerPadding{
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
  -webkit-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
  -moz-box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15), 2px 2px 17px 2px rgba(0,0,0,1);
  transition: 0.8s;
}

.cerPadding:hover{
  transform: scale(1.1);
}

.Cert{
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 40px; 
  color: #09264e;
}

.wExperience, .wEducation{
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 40px; 
  color: #bfe0c3;
}

.wCompany,.wDescription,.wRole,.eLevel,.eSYear,.schoolA{
  font-weight: 300;
}

.wCompany,.eLevel{
  font-size: 40px;
  color: #bbe0c5;
}

.wRole{
  padding-top: 10px;
}

.wRole,.schoolA{
  font-size: 35px;
  color: #c8f3e9;

}
.wDescription,.wDate{
  color: #fbfff9;
  font-size: 20px;
  text-align: justify;
}

.wPadding{
  padding-top: 20px;
}

.ePadding{
  padding-bottom: 20px;
}
.wDate{
  color: #00ffff;
  font-weight: 300;
  text-align: center;
}

.eSYear{
  padding-top: 10px;
  color: #fbfff9;
  font-size: 20px;
  text-align: center;
}

.sAward{
  color: #00ffff;
}

.aPadding{
  padding-bottom: 20px;
}

.aM{
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
  transition: 0.8s;
}
.aM:hover{
  transform: scale(1.1);
}

.eAttainment{
  background: linear-gradient(180deg, #09264e, #19809e);
}

/*.projects{
  background: linear-gradient(180deg, #09264e, #19809e);
}*/

.imgPadding{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  height: 50%;
  width: 50%;
}

.pPadding{
  padding: 20px;
}


.cPPadding{
  padding: 20px;
}

.card-title{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 50px; 
  color: #bee9f2;
}

.card-text{
  color: #16abde;
}

.card{
  background-image: url(bg2.jpg);
  border: 0;
  padding: 20px;
  font-weight: 600;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.59);
  transition: 0.8s;
}

.card:hover{
  transform: scale(1.1);
}

.btnProject{
  background-color: #abf4e6;
  font-weight: 600;
  color: #030b16;
  width: 50%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  outline: none;
  transition: 0.8s;
}

.btnProject:hover{
  background: #02739d;
  color: #fff;
  transform: scale(1.1)
}

.pTitle{
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 50px; 
  color: #0c213e;
}

/*End of About Section*/

/*Contact Section*/

.cTitle{
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 50px; 
  color: #0c213e;
  padding-top: 80px;
}

.title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
}

.contactP{
  padding-bottom: 50px;
}

/*.contactB{
  background-image: url(wave-435346.jpg);
  background-size: cover;
  position: center;
}
*/
.contactPC,.contactD{
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.contactPC{
  background-image: url(pngwing.com.png);
  background-size: cover;
  position: center;
  /*background-color: #eeeee4;*/
}

.lInput{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #09264e;
}

.cInput{
  width: 100%;
  height: 100%;
  border-width: thin;
  border-color: #19809e;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.cInput:hover{
  transform: scale(1.0);
}

.cIcon{
  margin-right: 10px;
}

/*End of Contact Section*/

/*Footer*/

.footer{
  background: linear-gradient(180deg, #09264e, #19809e);
}

.footerA{
  font-weight: 600;
  font-size: 30px;
  color: black;
  padding: 20px 0 50px 0;
}

/*End of Footer*/

/*Social Icons*/

.iconbtn{
  font-size: 40px;
  color: #abf4e6;
  background-color: #19809e;
  margin: 10px;
  padding: 15px;
  padding-bottom: 20px;
  border-radius: 50px;
  box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  -webkit-box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  -moz-box-shadow: 0 10px 30px 0px rgba(1,1,1,1.1);
  transition: 0.8s;
}
.iconbtn:hover{
  transform: scale(1.5);
  background-color: #09264e;
}

/*End of Social Icons*/

/*Modal*/

.contactM{
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
}

/*End of Modal*/

/*.modalSize{
  height: 200%;
  width: 200%;
}*/

@media (min-width: 768px) and (max-width: 991px) {
  .jmbBtn,
  .btn-contact {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .jmbBtn,
  .btn-contact {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .jmbBtn,
  .btn-contact {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .jmbBtn,
  .btn-contact {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .jmbBtn,
  .btn-contact,
  .btnProject {
    display: inline-block;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .card-title{
    font-size: 30px;
  }
}